
.border-dark {
    border-color: #343a40!important;
}
.bg-light {
    background-color: #ced4da!important;
}
a, a:hover,a:visited, a:focus {
    text-decoration:none;
}
.mb-5 {
    margin-bottom: 6rem!important;
}